@import "tailwindcss";
/* Fade + slide-up */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
